.btn {
  height: 100%;
  display: block;
  background-color: transparent;
  background-image: linear-gradient(to right, var(--color-secondary-200) 0%, var(--color-secondary-100) 100%);
  background-size: 200% auto;
  color: var(--color-primary-100);
  border-radius: var(--border-radius-lg);
  padding: 0 var(--spacing-xmd);
  text-align: center;
  text-decoration: none;
  outline: none;
  border: none;
  cursor: pointer;

  &:hover {
    background-position: right center;
  }
}
