@import "../../../../styles/mixins";

.btn {
  @include flexbox(row, center, center, var(--spacing-md));
  height: 100%;

  background-size: 200% auto;
  color: var(--color-primary-100);
  border-radius: var(--border-radius-lg);
  padding: 0 var(--spacing-xmd);
  text-align: center;
  text-decoration: none;
  outline: none;
  border: none;
  cursor: pointer;

  &:hover {
    background-position: right center;
  }
}

.icon {
  font-size: 1rem;
}

.light-blue-gradient {
  background-image: linear-gradient(to right, var(--color-secondary-200) 0%, var(--color-secondary-100) 100%);
  background-color: transparent;
}

.white {
  background-color: var(--color-primary-100);
  color: var(--color-primary-800);
  @include border(all, var(--border-radius-lg), var(--color-primary-300));
}
