<div class="categories">
  <header class="text-value-md-strong categories-header">Categories Overview</header>

  <section class="categories-stats">
    <div class="categories-stat-container categories card">
      <header class="stats-header text-value-xs-strong">All Categories</header>
      <div class="stats-amount text-value-md-strong">20,877</div>
    </div>
    <div class="categories-stat-container categories card">
      <header class="stats-header text-value-xs-strong">In Progress Categories</header>
      <div class="stats-amount text-value-md-strong">277</div>
    </div>
    <div class="categories-stat-container card">
      <header class="stats-header text-value-xs-strong">Finished Categories</header>
      <div class="stats-amount text-value-md-strong">800</div>
    </div>
  </section>

  <section class="categories-list card">
    <header class="categories-list-header">
      <div class="categories-list-header-content">
        <div class="categories-list-text-wrapper">
          <div class="categories-list-info">
            <span class="text-value-md-strong">Categories Activity</span>
            <app-badge-text [badgeName]="'116 Total'" [badgeColor]="'purple'"></app-badge-text>
          </div>

          <span class="text-value-xs"> Here you can find your categories</span>
        </div>
      </div>

      <div class="categories-list-header-buttons-container">
        <app-shared-button
          class="button"
          [buttonType]="'action'"
          [buttonText]="'Filters'"
          [iconName]="'filter_list'"
          [buttonColor]="'white'"
        ></app-shared-button>

        <app-shared-button
          class="button"
          [buttonType]="'action'"
          [buttonText]="'Add Category'"
          [iconName]="'add'"
          [buttonColor]="'light-blue-gradient'"
        ></app-shared-button>
      </div>
    </header>
    <div class="actions-container">
      <div class="actions-table">
        <div class="action-container input-container">
          <app-input [inputType]="'text'" [placeholder]="'Search'"></app-input>
        </div>

        <div class="action-container dropdown-container">
          <app-dropdown
            [dropdownValues]="categoriesAvailableStatuses"
            [iconName]="'assignment'"
            [isRemove]="true"
          ></app-dropdown>
        </div>

        <div class="action-container"></div>
      </div>

      <div class="action-container">
        <app-shared-button
          class="button"
          [buttonType]="'action'"
          [buttonText]="'Clear All'"
          [buttonColor]="'white'"
        ></app-shared-button>
      </div>
    </div>
    @if (categoriesData.status() === status.Resolved) {
      <div class="categories-table-container">
        <app-data-table [columns]="categoriesDataColumns" [tableData]="categoriesData.value()"></app-data-table>
      </div>
    }
  </section>
</div>
