<div class="page-container">
  <div class="page-header-container">
    <h1 class="text-value-md-strong page-header">Login page</h1>
  </div>

  <div class="content-container card">
    <div class="form-container">
      <header class="login-header">
        <h1 class="text-value-md-strong login-header-welcome">Hello!</h1>
        <span class="text-value-md login-sign-into">Sign into Your account</span>
      </header>
      <app-dynamic-form [fields]="loginFormFields" [submitButtonText]="'Submit'"></app-dynamic-form>
    </div>

    <!-- <div class="Dont-have-account-container">
        <span class="text-value-xs-strong Dont-have-account-description">Don't have an account?</span
        ><app-shared-link-button [buttonText]="'Create'"></app-shared-link-button>
      </div> -->

    <section class="form-description-container">
      <div class="form-description-container-text">
        <header class="text-value-md-strong form-description-text">Welcome</header>
        <p class="text-value-sm">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus excepturi quaerat saepe blanditiis
          maiores veniam. Quae illo quam dolorum ab reprehenderit perspiciatis sapiente quis cum. Nisi dolorum labore a.
          Dignissimos!
        </p>
      </div>
    </section>
  </div>
</div>
