@import "../../../styles/mixins";

* {
  font-family: Roboto, "Open Sans", sans-serif;
}

.page-container {
  @include flexbox(column, space-evenly, center);
  width: 100vw;
  height: 100vh;
  background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
}

.page-header {
  font-size: 30px;
}

.content-container {
  @include flexbox(row, flex-start, center, 0, 20px);
  width: 1200px;
  height: 75%;
  -webkit-box-shadow: -10px 0px 20px 10px var(--color-primary);
  -moz-box-shadow: -10px 0px 20px 10px var(--color-primary);
  box-shadow: -10px 0px 20px 10px var(--color-primary);
}

.login {
  &-header-welcome {
    text-align: center;
    margin-bottom: 5px;
    color: var(--color-text-primary);
  }

  &-sign-into {
    color: var(--color-text-primary);
  }
}

.form {
  &-container {
    @include flexbox(column, flex-start, center, 20px);
    width: 60%;
    padding: 20px;
  }

  &-description {
    color: var(--color-text-inverted);
    &-container {
      position: relative;
      width: 40%;
      height: 100%;

      background-image: linear-gradient(120deg, var(--color-primary) 0%, var(--color-primary-light) 100%);
      border-top-right-radius: var(--border-radius-md);
      border-bottom-right-radius: var(--border-radius-md);
    }

    &-container-text {
      color: var(--color-text-inverted);
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 60%;
    }

    &-text {
      text-align: center;
    }
  }
}

app-dynamic-form {
  width: 80%;
}

.account-info-description {
  color: var(--color-text-secondary-light);
}
