@import "../../../styles/mixins";

* {
  font-family: Roboto, "Open Sans", sans-serif;
}

.page-container {
  width: 100vw;
  height: 100vh;
  background-color: var(--white-1);
}

.form-container {
  @include flexbox(row, center, center);
  width: 100%;
  height: 100%;
}

.login {
  &-section {
    @include flexbox(column, flex-start, flex-start, 0, 20px);
    position: absolute;
    top: 50%;
    left: 50%;
    width: 1200px;
    height: 75%;
    transform: translate(-50%, -50%);
    -webkit-box-shadow: -12px 0px 20px -3px rgba(45, 122, 198, 1);
    -moz-box-shadow: -12px 0px 20px -3px rgba(45, 122, 198, 1);
    box-shadow: -12px 0px 20px -3px rgba(45, 122, 198, 1);
  }

  &-form {
    @include flexbox(column, space-between, center, 0, 20px);
    width: 60%;
  }

  &-header-welcome {
    text-align: center;
    margin-bottom: 5px;
  }
}

.form-description {
  color: var(--white-1);
  &-container {
    position: relative;
    width: 40%;
    height: 100%;
    background-color: blue;
    background: hsla(217, 100%, 50%, 1);
    background: linear-gradient(90deg, hsla(217, 100%, 50%, 1) 0%, hsla(186, 100%, 69%, 1) 100%);
    background: -moz-linear-gradient(90deg, hsla(217, 100%, 50%, 1) 0%, hsla(186, 100%, 69%, 1) 100%);
    background: -webkit-linear-gradient(90deg, hsla(217, 100%, 50%, 1) 0%, hsla(186, 100%, 69%, 1) 100%);
  }

  &-container-text {
    color: var(--white-1);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60%;
  }

  &-text {
    text-align: center;
  }
}

.input-container {
  width: 70%;
  height: 3rem;
}
