<div class="page-container">
  <section class="card login-section">
    <div class="form-container">
      <form class="login-form" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <header class="login-header">
          <h1 class="text-value-md-strong login-header-welcome">Hello!</h1>
          <span class="text-value-md">Sign into Your account</span>
        </header>

        <div class="input-container">
          <app-input [inputType]="'text'" [iconName]="'mail'" [placeholder]="'Email'"></app-input>
        </div>

        <div class="password-container">
          <div class="input-password-container">
            <app-input
              class="password-input"
              [inputType]="'password'"
              [iconName]="'lock'"
              [placeholder]="'Password'"
            ></app-input>
          </div>
          <app-shared-link-button [buttonText]="'Forgot password?'"></app-shared-link-button>
        </div>

        <div class="button-container"><app-shared-button [buttonType]="'submit'"></app-shared-button></div>
      </form>

      <section class="form-description-container">
        <div class="form-description-container-text">
          <header class="text-value-md-strong form-description-text">Welcome</header>
          <p class="text-value-sm">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus excepturi quaerat saepe blanditiis
            maiores veniam. Quae illo quam dolorum ab reprehenderit perspiciatis sapiente quis cum. Nisi dolorum labore
            a. Dignissimos!
          </p>
        </div>
      </section>
    </div>
  </section>
</div>
