:root {
  --color-background-inverted: #ffff;

  --color-main-border: #ccc;

  --color-text-primary: #313131;
  --color-text-secondary-light: #a1c4fd;
  --color-text-secondary-dark: #6696f1;

  --color-text-inverted: #ffff;

  --color-icon: #ccc;

  --color-primary: #a1c4fd;
  --color-primary-light: #c2e9fb;
}
