@mixin flexbox($direction: row, $justify: flex-start, $align: flex-start, $gap: 0, $row-gap: null, $column-gap: null) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
  gap: $gap;
  row-gap: $row-gap;
  column-gap: $column-gap;
}

@mixin border($direction: all, $radius: 0, $color: var(--color-primary-600,)) {
  @if ($direction == all) {
    border: 1px solid $color;
  } @else if($direction == top) {
    border-top: 1px solid $color;
  } @else if($direction == "right") {
    border-right: 1px solid $color;
  } @else if($direction == bottom) {
    border-bottom: 1px solid $color;
  } @else if($direction == left) {
    border-left: 1px solid $color;
  }

  border-radius: $radius;
}
