.card {
  border-radius: var(--border-radius-md);
  background-color: var(--color-background-inverted);
}

.text-value-xs {
  font-size: 1.2rem;
  line-height: 1.8rem;
  font-weight: 500;
}

.text-value-xs-strong {
  font-size: 1.2rem;
  line-height: 1.8rem;
  font-weight: 600;
}

.text-value-sm {
  font-size: 1.4rem;
  line-height: 1.8rem;
  font-weight: 500;
}

.text-value-sm-strong {
  font-size: 1.4rem;
  line-height: 1.8rem;
  font-weight: 600;
}

.text-value-md {
  font-size: 1.6rem;
  line-height: 1.8rem;
  font-weight: 500;
}

.text-value-md-strong {
  font-size: 1.6rem;
  line-height: 1.8rem;
  font-weight: 600;
}

.text-value-lg {
  font-size: 1.8rem;
  line-height: 1.8rem;
  font-weight: 500;
}

.text-value-lg-strong {
  font-size: 1.8rem;
  line-height: 1.8rem;
  font-weight: 600;
}
