@import "../../../../styles/mixins";

.input {
  height: 100%;
  width: 100%;
  border: none;
  border-radius: 20px;

  outline: none;
  font-size: 1.4rem;
  padding: 0 10px;
  line-height: 0;
}

.icon {
  margin-left: 10px;
  font-size: 1.6rem;
  color: #ccc;
}

.input-wrapper {
  @include flexbox(row, flex-start, center);
  // @include border(var(--border-radius-lg));
  -webkit-box-shadow: 0px 5px 14px 1px #a1c4fd;
  -moz-box-shadow: 0px 5px 14px 1px #a1c4fd;
  box-shadow: 0px 5px 14px 1px #a1c4fd;
  @include border(var(--border-radius-lg), rgba(var(--blue-1), 0.5));
  width: 100%;
  height: 100%;
}

.input-wrapper:focus-within {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  @include border(var(--border-radius-lg), var(--blue-1));
}
