@import "../../../../styles/mixins";

.table {
  width: 100%;
  border-collapse: collapse;
}

.thead {
  height: 3rem;
  background-color: var(--color-primary-200);
  color: var(--color-primary-700);
  @include border(bottom, var(--border-radius-lg), var(--color-primary-300));
}

.tr {
  @include border(bottom, var(--border-radius-lg), var(--color-primary-300));
  height: 5rem;
}

.th {
  text-align: start;
  padding: 1rem;
}
